/* add code here to make your image 300px square */
img{
    height: 300px;
}
/* add code here to change the color and font family of your name/title */
h1 {
    color:yellow;
    font:yellowgreen;
    font:italic small-caps bold 24px/30px Georgia, serif;
}
/* Bonus: change the color of your list elements */